		<hr />
		<footer>
			<p><a href="javascript:void();" target="_blank">BYVoid</a> 2016</p>
		</footer>
	</div>
</body>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>